html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #E1E7EF;
}

.NavImg{
    width: 80px;
    height: auto;
}

.NavImg2{
    width: 30px;
    height: auto;
    color: black;
}

.navbar-light .navbar-brand,
.navbar-light .nav-link{
    color: #FFFFFF !important;
}

.navbar-light .nav-link:hover,
.navbar-light .nav-link:focus{
        color: #E1E7EF !important;
}

.navbar-collapse {
    display: flex;
    align-items: center;
}

.search-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container form {
    display: flex;
    align-items: center;
    gap: 8px;
}

.search-container input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.search-container button {
    cursor: pointer;
    padding: 4px;
}

.search-container button img {
    width: 25px;
    height: auto;
}

.navbar-nav:first-child {
    margin-right: auto;
}

.navbar-nav.ms-auto {
    margin-left: auto !important;
}

.Input{
    width: 300px;
    color: black;
}

.product-link {
    text-decoration: none;
    color: black;
    display: block;
}

.product-card {
    background: white;
    border: 1px solid #e6e6e6;
    border-radius: 12px;
    padding: 12px;
    margin-bottom: 15px;
    max-width: 800px;
    height: 200px;
    display: flex;
    gap: 15px;
    position: relative;
}

    .product-card:hover {
        background: #f8f9fa;
        cursor: pointer;
    }

.product-img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.product-card .price {
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: 26px;
    font-weight: bold;
    color: #198754;
}

.navbarImg {
    height: 50px;
    width: auto;
}